body.dialog-open { overflow: hidden; }

.dropdown-children{
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.dropdown-child:hover{
  color: red;
  opacity: 0.5;
}

.dropdown-child h3 {
  margin-left: 10px;
}

.dropdown-parent:focus .dropdown-children,
.dropdown-parent:focus-within .dropdown-children,
.dropdown-parent:hover .dropdown-children {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  background: black;
  position: absolute;
  left: 0%;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

.nav-link:hover {
  transition: color .25s ease-in;
  color: black;
}
/* .nav {
  list-style: none;
  display: block;
} */

/* there's css here for .nav a links inside
header items */

/* .bannerType {
  background-color: #202020;
  height: 60px;
  display: flex;
  justify-content: space-between;
} */

/* .headerItem {
  width: 200px;
  height: 60px;
}

.headerItem h3 {
  color: white;
} */

/* .hLeft {
  margin-right: 80px;
  margin-left: 130px;
} */

/* .hRight {
  margin-left: auto;
  margin-right: 60px;
} */


/* homepage flex grid: */

/* .flex-grid {
  display: flex;
  flex-direction: column;
}

.homepagerow {
  flex: 1;
  background-color: #F8F8FF;
}

.housesearch {
  display: flex;
  flex-direction: column;
  align-items: left;
} */

/* .housesearchchild {
  height: 450px;
  padding: 50px;
} */

/* .searchOption {
  height: 20px;
  padding: 10px;
  font-size: 20px;
} */

/* #houseSearchSubmit {
  height: 40px;
  width: 80px;
} */

/* #houseSearchTitle {
  font-size: 60px;
} */

/* #typedSearch {
  height: 40px;
  width: 800px;
} */
/*
.featuredAgent {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .featuredAgentChild {
  flex: 1;
} */

/* .agent-card {
  border-top: 1px solid #dfdfdf;
} */

/* .footer {
  height: 100px;
  background-color: #F8F8FF;
} */
/*
.recentSearchesContainer{
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  width: 500px;
}

.recentSearch {
  display: flex;
  background-color: black;
} */
