#carousel {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carouselChild {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carChild {
  flex: 1;
}

.image {
  width: 1500px;
  height: 800px;
  padding: 10px;
}

.carouselButton {
  height: 100px;
}

.searchBar {
  /* display: flex;
  align-items: center;
  flex-direction: row;
  height: 60px; */
  background-color: #F8F8FF;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.searchBarChild {
  margin-left: 130px;
}

.siteSearchBar {
  margin-right: 120px;
  height: 40px;
  width: 400px;
}

.nav {
  list-style: none;
  display: block;
}

/* there's css here for .nav a links inside
header items */

.bannerType {
  background-color: #202020;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.headerItem {
  width: 200px;
  height: 60px;
}

.headerItem h3 {
  color: white;
}

.hLeft {
  margin-right: 80px;
  margin-left: 130px;
}

.hRight {
  margin-left: auto;
  margin-right: 60px;
}


/* homepage flex grid: */

.flex-grid {
  display: flex;
  flex-direction: column;
}

.homepagerow {
  flex: 1;
  background-color: #F8F8FF;
}

.housesearch {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.housesearchchild {
  height: 450px;
  padding: 50px;
}

.searchOption {
  height: 20px;
  padding: 10px;
  font-size: 20px;
}

#houseSearchSubmit {
  height: 40px;
  width: 80px;
}

#houseSearchTitle {
  font-size: 60px;
}

#typedSearch {
  height: 40px;
  width: 800px;
}

.featuredAgent {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuredAgentChild {
  flex: 1;
}

.agent-card {
  border-top: 1px solid #dfdfdf;
}

.footer {
  height: 100px;
  background-color: #F8F8FF;
}
