/* #homepage {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

/* .homepagecomps {
  margin: auto;
} */
/* body {
  height: 100%;
  margin: 0;
  padding: 0;
} */

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
} */

#carousel {
  background-color: #FFFFE0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.carouselChild {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carChild {
  flex: 1;
}

.image {
  width: 1500px;
  height: 800px;
}

.carouselButton {
  height: 100px;
}

.bannerType {
  display: flex;
  background-color: gold;
  height: 60px;
  /* TODO: make it different if you shrink it */
}

.searchBar {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 60px;
}

.searchBarChild {
  flex: 1;
  padding: 220px;
}

.siteSearchBar {
  height: 40px;
  width: 400px;
}

.nav {
  list-style: none;
  display: block;
}

/* there's css here for .nav a links inside
header items */

.headerItem {
  flex: 1;
}

.headerStart {
  justify-content: flex-start;
}


/* homepage flex grid: */

.flex-grid {
  display: flex;
  flex-direction: column;
}

.homepagerow {
  flex: 1;
  background-color: azure;
}

.housesearch {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.housesearchchild {
  height: 450px;
  padding: 50px;
}

.searchOption {
  height: 20px;
  padding: 10px;
  font-size: 20px;
}

#houseSearchSubmit {
  height: 40px;
  width: 80px;
}

#houseSearchTitle {
  font-size: 60px;
}

#typedSearch {
  height: 40px;
  width: 800px;
}

.featuredAgent {
  background-color: #98FB98;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuredAgentChild {
  flex: 1;
}

/* .homePageComp {
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
} */

/* .child {
  margin: auto;
} */

/* .header {
  width: 100%;
  height: 40px;
  color: white;
  background: black;
  text-indent: 150px;
  font-style: italic;
} */

.agent-card {
  border-top: 1px solid #dfdfdf;
}

.footer {
  height: 100px;
  background-color: gold;
}


/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
